<table class="table_mainWrapper">
<tr>
<td id="td_aside">

<aside>
	<a href="/admin/product/create">Add Products</a><!--
	--><a href="/admin/retailer/create">Add Distributor</a><!--
	--><a href="/admin/manufacturer/create">Add Supplier</a>
	<!-- <a href="../admin/add_distributor.ejs">Add Distributor</a> -->
	<a href="/admin/unit">Manage Unit</a><!--
	--><a href="/admin/category">Manage Category</a><!--
	--><a href="/admin/area">Manage Area</a><!--
	<!-- <a href="/admin/change_password">Change Password</a> -->
</aside>

</td>
<td id="td_section">

<a href="/admin/logout"><input type="button" value="Log out" class="submit_button" style="float:right;margin:10px;"/></a>