<table class="table_mainWrapper">
<tr>
<td id="td_aside">

<aside>
	<a href="/retailer/order/create">New Order</a><!--
	--><a href="/retailer/profile/edit">Edit Profile</a>
</aside>

</td>
<td id="td_section">
<a href="/retailer/logout"><input type="button" value="Log out" class="submit_button" style="float:right;margin:10px;"/></a>