<table class="table_mainWrapper">
<tr>
<td id="td_aside">

<aside>
	<a href="/manufacturer/profile/edit">Edit Profile</a><!--
	--><a href="/manufacturer/product/create">Add Products</a><!--
	--><a href="/manufacturer/manage_stock">Manage Stock</a><!--
	--><a href="/manufacturer/unit">Manage Unit</a><!--
	--><a href="/manufacturer/category">Manage Category</a>
</aside>

</td>
<td id="td_section">
<a href="/manufacturer/logout"><input type="button" value="Log out" class="submit_button" style="float:right;margin:10px;"/></a>