<nav>
	<a href="/manufacturer">Home</a>
	<a href="/manufacturer/retailer">Distributors</a>
	<!-- <a href="../manufacturer/view_distributor.php">Distributors</a> -->
	<a href="/manufacturer/product">Products</a>
	<a href="/manufacturer/order">Orders</a>
	<a href="/manufacturer/invoice">Invoice</a>
</nav>