<nav>
	<a href="/admin">Home</a><!--
	--><a href="/admin/retailer">Distributor</a><!--
	--><a href="/admin/manufacturer">Supplier</a>
	<!-- <a href="../admin/view_distributor.php">Distributors</a> -->
	<a href="/admin/product">Products</a><!--
	--><a href="/admin/order">Orders</a><!--
	--><a href="/admin/invoice">Invoice</a>
</nav>
