
<!DOCTYPE html>
<html>

<head>
    <title> Edit Profile </title>
    <link rel="stylesheet" href="/assets/main_style.css">
</head>

<body>
    <section>
        <h1>Forgot Password</h1>
        <form action="/register/forgot_password/link" method="POST" class="form">
            <ul class="form-list">
                <li>
                    <div class="label-block"> <label for="email">Email</label> </div>
                    <div class="input-box"> <input type="email" id="email" name="email" placeholder="Email" required />
                    </div> <span class="error_message">
                        
                    </span>
                </li>
                <li>
                    <div class="input-box">
                        <div class="label-block"> <label for="email">User Type</label> </div>
                        <select name="login_type" id="login:type" class="form-control" width="100%">
                            <option value="" disabled selected>-- Select Type --</option>
                            <option value="retailer">Distributor</option>
                            <option value="manufacturer">Supplier</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                </li>
                <li>
                    <input type="submit" value="Change Password" class="submit_button" /> <span class="error_message">
                        
                </li>
            </ul>
        </form>
    </section>
</body>

</html>