<!DOCTYPE html>
<html>

<head>
    <title> Update Forward </title>
    <link rel="stylesheet" href="/assets/main_style.css">
</head>

<body>
    <section>
        <h1>Update Password</h1>
        <form action="/register/forget-password-url" method="POST" class="form">
            <ul class="form-list">
                <li>
                    <input type="hidden" name="token" value="<%= item.session_token %>">
                    <div class="label-block"> <label for="email">Email</label> </div>
                    <div class="input-box"> <input type="email" id="email" name="email" value="<%= item.email %>" placeholder="Email" required />
                    </div> <span class="error_message">

                    </span>
                </li>
                <li>
                    <div class="input-box">
                        <div class="label-block"> <label for="login_type">User Type</label> </div>
                        <div class="input-box"> <input type="text" id="login_type" name="login_type" value="<%= item.login_type %>" placeholder="Email"
                                required />
                    </div>
                </li>
                <li>
                    <div class="label-block"> <label for="manufacturer:password">Password</label> </div>
                    <div class="input-box"> <input type="password" id="manufacturer:password" name="password" placeholder="Password"
                            required /> </div> <span class="error_message"></span>
                </li>
                <li>
                    <input type="submit" value="Change Password" class="submit_button" /> <span class="error_message">

                </li>
            </ul>
        </form>
    </section>
</body>

</html>