<!DOCTYPE html>
<html>

<head>
	<title> Add Category </title>
	<link rel="stylesheet" href="/assets/main_style.css">
</head>

<body>
	<%- include('../includes/header.ejs') %>
		<%- include('../includes/nav_manufacturer') %>
			<%- include('../includes/aside_manufacturer') %>
				<section>
					<h1>Add Category</h1>
					<form action="/manufacturer/category/create" method="POST" class="form">
						<ul class="form-list">
							<li>
								<div class="label-block"> <label for="categoryName">Category Name</label> </div>
								<div class="input-box"> <input type="text" id="categoryName" name="name"
										placeholder="Category Name" value="" required /> </div> <span
									class="error_message"></span>
							</li>
							<li>
								<div class="label-block"> <label for="categoryDetails">Details</label> </div>
								<div class="input-box"><textarea id="categoryDetails" name="details"
										placeholder="Details"></textarea> </div>
							</li>
							<li>
								<input type="submit" value="Add Category" class="submit_button" /> <span
									class="error_message"> </span><span class="confirm_message"></span>
							</li>
						</ul>
					</form>
				</section>
				<%- include('../includes/footer.ejs') %>
</body>

</html>